body {
  background-color: black;
  color: white;
}

.pageWrapper {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.pageWrapper::before {
  content: "";
  background-image: url('./images/backgroundImage.png');
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.2;
}

#fact {
  z-index: 2;
  font-size: 1.5rem;
  padding: 10px;
}

.pageTitle {
  z-index: 2;
  padding: 10px;
}

.animals {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: 1rem;
  z-index: 2;
}

.animal {
  width: 33.3%;
  align-self: center;
}

@media only screen and (max-width: 670px) {
  .animals {
    width: 90%;
  }

  h1 {
    font-size: 24px;
  }
}